addict==2.3.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
albucore==0.0.24
albumentations==2.0.8
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==3.7.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asttokens==2.4.1
asyncio==3.4.3
attrs==25.4.0
av==16.1.0
azure-common==1.1.28
azure-core==1.38.3
azure-cosmos==4.15.0
azure-identity==1.25.3
azure-search-documents==11.6.0
azure-storage-blob==12.28.0
bcrypt==4.1.2
beautifulsoup4==4.14.3
blis==1.3.3
boto3==1.28.43
boto3-type-annotations==0.3.1
botocore==1.31.85
catalogue==2.0.10
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
click==8.3.1
cloudpathlib==0.23.0
colorlog==6.10.1
confection==0.1.5
contourpy==1.3.3
coverage==7.13.4
cryptography==46.0.5
cuda-bindings==12.9.4
cuda-pathfinder==1.4.1
cycler==0.12.1
cymem==2.0.13
defusedxml==0.7.1
deprecation==2.1.0
devtools==0.12.2
distro==1.9.0
doclayout_yolo==0.0.4
ecdsa==0.19.1
executing==2.2.1
fast-langdetect==0.2.5
fastapi==0.104.1
fasttext-predict==0.9.2.4
fastuuid==0.14.0
filelock==3.25.1
flatbuffers==25.12.19
fonttools==4.62.0
frozenlist==1.8.0
fsspec==2026.2.0
graphrag-cache==3.0.6
graphrag-chunking==3.0.6
graphrag-common==3.0.6
graphrag-input==3.0.6
graphrag-llm==3.0.6
graphrag-storage==3.0.6
graphrag-vectors==3.0.6
graspologic-native==1.2.5
grpcio==1.78.0
h11==0.16.0
h2==4.3.0
hf-xet==1.3.2
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.25.1
httpx-retries==0.4.6
huggingface_hub==1.6.0
hyperframe==6.1.0
idna==3.11
ImageIO==2.37.3
importlib_metadata==8.7.1
iniconfig==2.3.0
isodate==0.7.2
Jinja2==3.1.6
jiter==0.13.0
jmespath==1.1.0
joblib==1.5.3
json_repair==0.58.5
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.5.0
lancedb==0.24.3
lazy-loader==0.5
litellm==1.82.3
loguru==0.7.2
magika==0.6.3
markdown-it-py==4.0.0
markdownify==1.2.2
markitdown==0.1.5
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
mineru==2.7.5
mineru_vl_utils==0.1.22
minio==7.2.1
modelscope==1.34.0
mpmath==1.3.0
msal==1.35.1
msal-extensions==1.3.1
multidict==6.7.1
murmurhash==1.0.15
neo4j==5.14.0
nest-asyncio2==1.7.2
networkx==3.6.1
nltk==3.9.1
numpy==2.4.3
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.4.5
nvidia-nvtx-cu12==12.8.90
onnxruntime==1.24.3
openai==2.8.1
opencv-python==4.13.0.92
opencv-python-headless==4.9.0.80
overrides==7.7.0
packaging==26.0
pandas==2.3.3
passlib==1.7.4
pdf2image==1.16.3
pdfminer.six==20251230
pdfplumber==0.11.9
pdftext==0.6.3
pillow==11.0.0
pluggy==1.6.0
polars==1.38.1
polars-runtime-32==1.38.1
portalocker==3.2.0
preshed==3.0.12
propcache==0.4.1
protobuf==7.34.0
psutil==7.2.2
py-cpuinfo==9.0.0
pyarrow==22.0.0
pyasn1==0.6.2
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-settings==2.2.1
pydantic_core==2.41.5
Pygments==2.19.2
PyJWT==2.12.1
PyMuPDF==1.23.8
PyMuPDFb==1.23.7
pyparsing==3.3.2
pypdf==6.8.0
pypdfium2==4.30.0
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-cov==4.1.0
python-dateutil==2.8.2
python-dotenv==1.2.1
python-jose==3.3.0
python-magic==0.4.27
python-multipart==0.0.6
pytz==2026.1.post1
PyYAML==6.0.1
qdrant-client==1.16.2
qwen-vl-utils==0.0.14
referencing==0.37.0
regex==2026.2.28
reportlab==4.4.10
requests==2.32.5
rich==14.3.3
robust-downloader==0.0.2
rpds-py==0.30.0
rsa==4.9.1
s3transfer==0.6.2
scikit-image==0.26.0
scipy==1.17.1
seaborn==0.13.2
shellingham==1.5.4
simsimd==6.5.16
six==1.17.0
smart_open==7.5.1
sniffio==1.3.1
soupsieve==2.8.3
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.2
starlette==0.27.0
stringzilla==4.6.0
sympy==1.14.0
tenacity==8.2.3
textblob==0.19.0
thinc==8.3.10
thop==0.1.1.post2209072238
tifffile==2026.3.3
tiktoken==0.12.0
tokenizers==0.22.2
toml==0.10.2
torch==2.10.0
torchvision==0.25.0
tqdm==4.67.3
triton==3.6.0
typer==0.24.1
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
ultralytics==8.4.12
ultralytics-thop==2.0.18
urllib3==2.0.7
uvicorn==0.24.0
uvloop==0.22.1
wasabi==1.1.3
watchfiles==1.1.1
weasel==0.4.3
websockets==16.0
wrapt==2.1.2
yarl==1.23.0
zipp==3.23.0
